
body{
    background-color: greenyellow;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#div1{
    position: relative;
    top: 12vmax;
    transform:translateX(30%);
    animation: car_moves;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    transition: transform 1s linear;
    /* so like i used the help of chatgpt a little so this transition line is used for like better car moving */
}

#div2{
    position: absolute;
    width: 200px;
}

#img2{
    width: 45%;
    height: 45%;
    position: relative;
    right: -110px;
    top: -90px;
    animation: wheel_moves;
    animation-timing-function: ease;
    animation-duration: 4.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    transition: transform 1s linear;
}

#img3{
    width: 45%;
    height: 45%;
    position: relative;
    left: 480px;
    top: -90px;
    animation: wheel_moves;
    animation-timing-function: ease;
    animation-duration: 4.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    transition: transform 1s linear;
}

@keyframes car_moves{
    from{
        transform: translateX(-60%);
    }
    to{
        transform: translateX(30%);
    }
}

@keyframes wheel_moves1{
    100%{transform: rotate(360deg)}
}

@keyframes wheel_moves{
    100%{transform: rotate(360deg)}
}

/* i am just tired i got school tomorow so i will end here at 6.48 03.02.2026 */


/* i started to code at 8.13 04.02.2026 */

#btn1{
    position: absolute;
    color: black;
    background-color: rgb(139, 221, 16);
    border-radius: 30px;
    width: 12vmax;
    height: 4vmax;
    font-size: 40px;
    bottom: -20%;
    left: 60%;
    animation: btn_move1;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#btn2{
    position: absolute;
    color: black;
    background-color: rgb(139, 221, 16);
    border-radius: 30px;
    width: 12vmax;
    height: 4vmax;
    font-size: 40px;
    bottom: -20%;
    left: 45%;
    animation: btn_move1;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#btn3{
    position: absolute;
    color: black;
    background-color: rgb(139, 221, 16);
    border-radius: 30px;
    width: 12vmax;
    height: 4vmax;
    font-size: 40px;
    bottom: -20%;
    left: 30%;
    animation: btn_move1;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



@keyframes btn_move1 {
    from{
        transform: translateY(1900%);
    }to {
        transform: translateY( -500%);
    }
}

.rotate1{
    animation: car_rotate3;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes car_rotate3{
    100%{transform: rotateZ(180deg);
        transform: rotateY(180deg);
    }
}

/* ok so i will end up coding here at 9.50 i will continue tomorow i got more ideas one that i will add tomorow */



/* i continued to code on 05.02.2026 at 4.56 */



